@font-face {
  font-family: 'Dongle';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/dongle-v4-korean-700.woff2') format('woff2'),
    url('./fonts/dongle-v4-korean-700.woff') format('woff');
} ;
